*{
    padding: 0;
    margin: 0;
    background-color: rgb(32, 33, 36);
}
#game{
    width: 500px;
    height: 220px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#character{
    width: 20px;
    height: 50px;
    background-color: rgb(172, 172, 172);
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: rgb(172, 172, 172);
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}
#seconds{
    position: relative;
    top: 0px;
    left: 460px;
    color: rgb(172, 172, 172);
}
